{% extends 'base.html' %}
{% block content %}

    <body>
        <nav class="navbar navbar-expand-sm bg-dark">
            <ul class="nav nav-pills"> <li class="nav-item "> <a class="nav-link" href="#"><b>ShopClub</b></a> </li>
              <li class="nav-item "> <a class="nav-link" href="#"><b>Home</b></a> </li>
              <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><b>Category</b> </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#"><b>Novel</b></a>
                  <a class="dropdown-item" href="#"><b>Sifi</b></a>
                  <a class="dropdown-item" href="#"><b>History</b></a>
                  <a class="dropdown-item disabled" href="#">List</a>
                </div>
              </li>
              <li class="nav-item"> <a class="nav-link" href="sign up.html"><b>Sign up</b></a></li>
              <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal"><b>Login</b></button>
              <li class="nav-item"> <a class="nav-link" href="cart.html"><b>Cart</b></a></li>
          </ul>
        </nav>

        <div class="i">
            <input class="search" type="text" placeholder="Search" aria-label="Search">
            <button type="button" class="btn btn-success">Go</button><br><br>
        </div>
  

    <h1>Available Books</h1><br><br>
    <div class="container container-fluid">
        <div class="row">       
            {% for i in books %}
            <div class="col-4">
                <div class="card">
                    <img src="{{i.cover}}" >

                    <div class="card-body">
                        <h5 class="card=title">{{i.name}} </h5>
                        <p> {{i.name}} by {{i.author}}</p> 
                         <button type="button" class="btn btn-primary">Add to cart</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

      <div class="footer"><h4> © 2024 SHOPCLUB. ALL RIGHTS RESERVED</h4> 
      </div>
      {% endblock %}
        </body>
    </html>

 